*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    height: 70px;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: #fffc;
    position: fixed;
    border-bottom: 1px solid #e6e6e6;
    z-index: 1;
    

}

header a{
    color: black;
}

header ul li a:hover{
    color: hsl(0 72% 51%);
    transition: 0.3s;
}

header span{
    color: hsl(0 72% 51%);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

ul a{
    text-decoration: none;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: hsl(0 72% 51%);
    margin: 8px;
    transition: 0.3s;

}

@media (max-width:750px) {
    body{
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top: 8.4vh;
        width: 30vh;
        height: 100vh;
        right: 0;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translate(100%);
        opacity: 0;
        transition: transform 0.3s ease-in;
        background-color: rgb(255, 255, 255);
        border-left: 1px solid #e6e6e6;

    }

    .nav-list li {
        margin-left: 0;
       
    }

    .mobile-menu{
        display: block;
    }

    .active{
         transform: translate(0%);
         opacity: 1;
        
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translate(50px);
        }
        to{
            opacity: 1;
            transform: translate(0);
        }
    }


}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);

}


/* Main */

main{
    font-family: 'Poppins', sans-serif;
}

.banner h5{
    color: hsl(0 72% 51%);
}

.banner h1{
    font-weight: 700;
    font-size: 4.0rem;
    
}

.banner h2{
    font-size: 1.5rem;
    line-height: 1.75rem;
}


.banner{
    padding: 0px 15vh !important;
}

@media(max-width:772px){
    .banner{
    padding: 0px 10vh !important;
    }

    .banner h1{
    font-weight: 700;
    font-size: 2.5rem;  
    }

    .banner h2{
    font-size: 1.3rem;
    line-height: 1.75rem;
    }
}

@media(max-width:467px){
 .banner{
    padding: 0px 2vh !important;
    }

    .banner h1{
    font-weight: 700;
    font-size: 2.0rem;  
    }

    .banner h2{
    font-size: 1.2rem;
    line-height: 1.75rem;
    }

    .botao{
        flex-direction: column;
    }
}

.linha{
  border: none;
  height: 5px;
  background-color: #dc3545; 
  border-radius: 999px;
  width: 10%;
  margin: 10px 0px;
}

.Sobre-mim{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.Sobre-mim .descricao{
    font-size: 20px;
}

.Sobre-mim .card{
    padding: 4px 15px;
    border: none;
    box-shadow: 0px 5px 15px -10px;
}

.Sobre-mim .icon{
    font-size: 24px;
    background-color: rgb(220 40 40 / 10%);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.Sobre-mim .icon i{
    color:hsl(0 72% 51%);
    
    
}

@media(max-width:993px){
    .Sobre-mim .container{
        flex-direction: column;
    }
    
    .Sobre-mim .descricao{
        width: 100% !important;
        text-align: center;
    }

    .Sobre-mim .cards{
        width: 100% !important;
    }

    .Sobre-mim .text{
        width: 80%;
    }
}

.tecnologias{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.tecnologias .cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.tecnologias .card{
    padding: 20px 45px;
    width: 100%;
    height: 180px;
    border: none;
    box-shadow: 0px 11px 26px -22px;
    transition: 0.2s;
}

.tecnologias .card p{
    font-size: 15px;
}

.tecnologias .card:hover{
    box-shadow: 0px 11px 31px -20px;
}

.tecnologias .card .imagem{
    height: 50%;
}

.tecnologias .card img{
    transition: 0.2s;
    height: 60px;
    
}

.tecnologias .card:hover img{
    height: 65px;
}

@media(max-width:990px){
    .tecnologias .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
}

@media(max-width:500px){
    .tecnologias .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.tecnologias .cards .card p{
    font-size: 13px;
}
}

.projetos{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.projetos .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.projetos .card{
    height: 100%;
    border: none;
}

 .projetos .card:hover .imagem-destaque .icone{
    visibility: visible;
    }

.projetos .informacao{
    padding: 10px 20px;
    box-shadow: 0px 8px 29px -17px;
    border-radius: 0px 0px 10px 10px;

}

.projetos .recursos .categorias{
    padding: 1px 14px;
    border-radius: 50px;
    background-color: rgb(247, 247, 247);
    margin-bottom: 20px; 
    
}

.icone a{
    color: black !important;
}

.projetos .recursos .categorias p{
    margin-bottom: 0px;
    font-weight: 400;
}

.imagem-destaque{
    background-image:
     linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    height: 180px;
    border-radius: 10px 10px 0px 0px;
    gap: 0.5rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
}

.img-1{
    background-image:  url(https://i.ibb.co/gLwWYMNN/code-Up.png);
}

.img-2{
    background-image:  url(https://i.ibb.co/wNFPyWY3/Chat-GPT-Image-19-de-fev-de-2026-23-16-47.png);
}

.img-3{
 background-image: url(https://i.ibb.co/j9y0FLMn/bam.png);
}

.projetos .card:hover .imagem-destaque{
    background-size: 120%;
}

.projetos .card:hover .img-1{
    background-image: 
    linear-gradient(rgba(220, 53, 69, 0.7), rgba(220, 53, 69, 0.7)),
    url(https://i.ibb.co/gLwWYMNN/code-Up.png)

}
.projetos .card:hover .img-2{
    background-image: 
    linear-gradient(rgba(220, 53, 69, 0.7), rgba(220, 53, 69, 0.7)),
    url(https://i.ibb.co/wNFPyWY3/Chat-GPT-Image-19-de-fev-de-2026-23-16-47.png)

}
.projetos .card:hover .img-3{
    background-image: 
    linear-gradient(rgba(220, 53, 69, 0.7), rgba(220, 53, 69, 0.7)),
    url(https://i.ibb.co/j9y0FLMn/bam.png)

}



.imagem-destaque .icone{
    position: relative;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 5px 0px;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    visibility: hidden;
}

.imagem-destaque .icone:hover{
    background-color: #ffffffa6;
}

.botoes button{
height: 38px;

}

.botoes .btn-light:hover{
    background-color: #dc3545;
    color: #ffffff;
}

.botoes i{
    font-size: 15px;
}

@media(max-width:990px){
    .projetos .cards{
         grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:767px){
    .projetos .cards{
         grid-template-columns: repeat(1, 1fr);
    }
}

.diferencial{
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.diferencial .card{
    border: none;
    box-shadow: 0px 6px 34px -31px;
    transition: 0.3s ease;
    padding: 20px 10px;
    
}

.diferencial .card:hover{
    box-shadow: 0px 11px 34px -28px;
}

.diferencial .card .icon{
    background-color: rgb(220 40 40 / 10%);
    width: 4rem;
    height: 4rem;
    border-radius: 20px;
}

.diferencial .card i{
    font-size: 35px;
    color: hsl(0 72% 51%);
}

.diferencial .titulo{
    text-align: center;
    margin-bottom: 0.5rem;
}

.diferencial .texto{
    height: 110px;
}

@media(max-width:990px){
    .diferencial .cards{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .diferencial .card{
        max-width: 100% !important;
    }
}

@media(max-width:500px){
    .diferencial .cards{
         grid-template-columns: repeat(1, 1fr);
    }

}

.contato{
    padding-top: 5rem;
    padding-bottom: 5rem;   
}


.container-contato .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container-contato .cards .card{
    border: none;
    box-shadow: 0px 9px 15px -10px;
    cursor: pointer;
}

.container-contato .cards .card a{
text-decoration: none !important;
color: black;
}

.container-contato .cards .card i{
  font-size: 30px;
  padding-right: 5px;
  transition: 0.3s ease;
}

.container-contato .cards .card:hover .fa-github{
 color: #333;
}

.container-contato .cards .card:hover .fa-square-linkedin{
 color: #0077B5;
}

.container-contato .cards .card:hover .fa-envelope{
 color: #EA4335;
}

.container-contato .cards .card:hover .fa-whatsapp{
 color: #4FCE5D;
}

.localizacao{
    background-color: #FBE9E9;
    
}

footer{
     border-top: 1px solid #e6e6e6;
     height: 150px;
     padding: 15px 30px;
}

footer span{
    color: hsl(0 72% 51%);
}

footer i{
    font-size: 25px;
}
 

footer a{
    color: black !important;
}

footer .fa-github:hover{
 color: #333;
}

footer .fa-square-linkedin:hover{
 color: #0077B5;
}

footer .fa-envelope:hover{
 color: #EA4335;
}

@media(max-width:670px){
 footer{
    flex-direction: column;
    gap: 15px;
 }

 footer{
    text-align: center;
 }
}


